body {
    background: linear-gradient(to right, #4facfe, #00f2fe);

}
.photo-grid{
    height: 50px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    
}