body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    align-items: center;
    justify-content: center;
}
.photo-grid{
    height: 300px;
    width: 300px;
    display:grid; 
    grid-template-columns:repeat(2,1fr);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.card {
    background-color: azure;
    border-radius: 50px;
    box-shadow: black;
    text-align: center;
    padding: 20px 100px 75px 100px;
    height: 350px;
    width: 200px;

}
img {
    height: 100px;
    width: 250px;
    padding: 0px;
}
.text{
    margin: 0px;
    padding: 0px;
}