body {
    font-family: Arial, sans-serif;
    background-color: rgb(13, 106, 238);
    padding: 65px 30px 30px 30px;
    min-height: 1800px;
}
h1, h2 { color: rgb(4, 196, 255); }

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(159, 202, 250);
    color: white;
    padding: 14px 20px;

}

.list-item {
    background-color: rgb(13, 106, 238);
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px 0;
}

.special-note {
    position: relative;
    left: 30px;
    background-color: aqua;
    padding: 10px 20px;
}

.pet-card {
    position: relative;
    background-color: white;
    border: 3px solid black;
    padding: 15px 25px;
}

.section-label {
    position: sticky;
    top: 55px;
    background-color: rgb(103, 250, 81);
    color:white;
    padding: 10px 20px;
    margin: 15px 0 8px
}